<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox"> -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      <!-- <a href="{{ site.data.twitter.href }}" title="Email me">Click here to send me an email!</a> -->
      <a href="{{ site.data.github.href }}" >
        <img src="https://raw.githubusercontent.com/neilorangepeel/Free-Social-Icons/882557bf4464af61e5cd0cad8f060fe9a126e5b6/Flat/SVG/Github.svg">
      </img>
      </a>
      <a href="{{ site.data.twitter.href }}" >
        <img src="https://raw.githubusercontent.com/neilorangepeel/Free-Social-Icons/882557bf4464af61e5cd0cad8f060fe9a126e5b6/Flat/SVG/Twitter.svg">
      </img>
      </a>
      <!-- <a href="{{ site.data.twitter.href }}" title="Facebook"><i class="fa fa-facebook-square"></i></a> -->
      <!-- <a href="https://github.com/Marcel5751/"><i class="svg-icon github"></i></a>
      <a href="https://twitter.com/marde5751"><i class="svg-icon twitter"></i></a> -->
    </p>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
